body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding-top: 34px;
  padding-bottom: 14px;
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
}
.menu-open-btn {
  border: none;
  background-color: transparent;
}
.menu-open-icon {
  stroke: #fff;
  stroke-width: 2px;
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */

/* MOB-MENU */

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: column;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  .menu-open-btn {
    display: none;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }

  .header {
    padding-top: 45px;
    padding-bottom: 19px;
  }
}
